APP_NAME=ota-ku
APP_ENV=local
APP_KEY=base64:4R2WNOdXk0uPPxQhR5ISJcYAX8Ao8RkKpuGl+ASN524=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="w33bv.gl@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=contentMicroservice
DB_USERNAME=root
DB_PASSWORD=root

REDIS_HOST=cache
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=ota_ku_

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=redis
CACHE_PREFIX=
# CACHE_DRIVER=redis

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
